@page
@model DUSH17.Pages.MatchModel
@{
	if(Model.Match.Home == true)
	{
		ViewData["Title"] = "ДЮСШ-17 " + Model.Match.Goals  + ":" + Model.Match.OpponentGoals + " " + Model.Match.Opponent.Name;
	}
	else
	{
		ViewData["Title"] = Model.Match.Opponent.Name + Model.Match.OpponentGoals + ":" + Model.Match.Goals + " " + "ДЮСШ-17 ";
	}
}

<script>
	function menu(x){
		var squad = document.getElementById('squad');
		var actions = document.getElementById('actions');
		if(x === 1)
		{
			squad.style.display = 'none';
			actions.style.display = 'block';
		}
		else if (x === 2)
		{
			squad.style.display = 'block';
			actions.style.display = 'none';
		}

	}
</script>
<div class="match_info">
	<div><h1>@Model.Match.Competition.NameOfCompetition</h1></div>
	<div><h4>@Model.Match.Date @Model.Match.Competition.City</h4></div>
	<table class="resultOfMatch">
		<tbody>
			@if(Model.Match.Home)
			{
				<tr><td style="width:35%"><img src="~/images/Opponents/sh17.png" /></td><td rowspan="3"><h2>@Model.Match.Goals : @Model.Match.OpponentGoals</h2></td><td style="width:35%"><img src="~/images/Opponents/@Model.Match.Opponent.Picture.Name" /></td></tr>
				<tr><td style="width:35%"><h3>ДЮСШ-17 @Model.Match.Team.Year</h3></td><td style="width:35%"><h3>@Model.Match.Opponent.Name @Model.Match.OpponentYear</h3></td></tr>
				<tr><td style="width:35%"><h3>Томск</h3></td><td style="width:35%"><h3>@Model.Match.Opponent.City</h3></td></tr>
			}
			else
			{
				<tr><td style="width:35%"><img src="~/images/Opponents/@Model.Match.Opponent.Picture.Name" /></td><td rowspan="3"><h2>@Model.Match.OpponentGoals : @Model.Match.Goals</h2></td><td style="width:35%"><img src="~/images/Opponents/sh17.png" /></td></tr>
				<tr><td style="width:35%"><h3>@Model.Match.Opponent.Name @Model.Match.OpponentYear</h3></td><td style="width:35%"><h3>ДЮСШ-17 @Model.Match.Team.Year</h3></td></tr>
				<tr><td style="width:35%"><h3>@Model.Match.Opponent.City</h3></td><td style="width:35%"><h3>Томск</h3></td></tr>
			}

		</tbody>
	</table>
</div>
<div class="match_actions">
	<div class="match_nav_button">
		<input type="button" value="Обзор" onclick="menu(1)" /><input type="button" onclick="menu(2)" value="Состав" />
	</div>
	<div id="squad" style="display:none">
		<h1>Стартовый состав</h1>
		@foreach(var person in Model.squad.OrderBy(i=>i.PositionId))
		{	
			<div class="squad_line">
				<div class="squad_person">
					<h2 style="width:8%">@person.Position.ShortName</h2> <h2> | @person.Surname @person.Name</h2>

					@{
						foreach (var act in Model.actionns.OrderBy(i => i.ActionTypeId).Where(i => i.FootballerId == person.Id && (i.ActionTypeId == 1 || i.ActionTypeId == 2 || i.ActionTypeId == 3 || i.ActionTypeId == 4)))
						{
							switch (act.ActionTypeId)
							{
								case 1:
									<div class="actions">
									<img title="Гол" src="~/images/Icons/goal.png"/>
									</div>
									break;
								case 2:
									<div class="actions">
										<img title="Голевая передача" src="~/images/Icons/assist.png" />
									</div>
									break;
								case 3:
									<div class="actions">
										<img title="Желтая карточка" src="~/images/Icons/yellowCard.png" />
									</div>
									break;
								case 4:
									<div class="actions">
										<img title="Красная карточка" src="~/images/Icons/redCard.png" />
									</div>
									break;
								case 5:
									<h2>АГ</h2>
									break;
							}
						}
					}
				</div>
				@{
					foreach (var rep in Model.replaces.Where(i => i.FootballerOutId == person.Id))
					{

						<div class="squad_person" style="justify-content:end;">
							<div class="actions">
								<img title="Красная карточка" src="~/images/Icons/replace.png" />
							</div>
							<h2> @rep.FootballerIn.Surname @rep.FootballerIn.Name</h2>
						</div>
					}
				}

			</div>
		}
		<h1>Замены</h1>

				@foreach (var person in Model.bench.OrderBy(i => i.PositionId))
				{
					<div class="squad_line">
						<div  class="squad_person"><h2 style="width:8%">@person.Position.ShortName</h2> <h2> | @person.Surname @person.Name</h2></div><div>
							@{
								foreach (var act in Model.actionns.OrderBy(i => i.ActionTypeId).Where(i => i.FootballerId == person.Id && (i.ActionTypeId == 1 || i.ActionTypeId == 2 || i.ActionTypeId == 3 || i.ActionTypeId == 4)))
								{
									switch (act.ActionTypeId)
									{
										case 1:
											<div class="actions">
												<img title="Гол" src="~/images/Icons/goal.png" />
											</div>
											break;
										case 2:
											<div class="actions">
												<img title="Голевая передача" src="~/images/Icons/assist.png" />
											</div>
											break;
										case 3:
											<div class="actions">
												<img title="Желтая карточка" src="~/images/Icons/yellowCard.png" />
											</div>
											break;
										case 4:
											<div class="actions">
												<img title="Красная карточка" src="~/images/Icons/redCard.png" />
											</div>
											break;
										case 5:
											<h2>АГ</h2>
											break;
									}
								}
							}
						</div>

					</div>
				}
	</div>
	<div id="actions" style="display:block">
		<h1>1-й тайм</h1>
		@foreach(var act in Model.actionns.Where(i=>i.Time < 46 && i.ActionTypeId !=6 && i.ActionTypeId !=2))
		{
			<div class="squad_line">
				<div class="one_action">
					<h2 style="margin-top:23%">@act.Time'</h2>
					@{
						switch (act.ActionTypeId)
						{
							case 1:
								<div class="actions2">
									<img title="Гол" src="~/images/Icons/goal.png" />
								</div>
								<div class="goal_assist">
									<h2>@act.Footballer.Surname @act.Footballer.Name</h2>

									@if (Model.actionns.Exists(i => i.Time == act.Time && i.ActionTypeId == 2))
									{
										<h3>
											(@Model.actionns.Where(i=>i.Time == act.Time && i.ActionTypeId == 2).First().Footballer.Surname
											@Model.actionns.Where(i=>i.Time == act.Time && i.ActionTypeId == 2).First().Footballer.Name)
										</h3>
									}
								</div>

								break;
							case 2:
								<div class="actions2">
									<img title="Голевая передача" src="~/images/Icons/assist.png" />
								</div>
								<h2>@act.Footballer.Surname @act.Footballer.Name</h2>
								break;
							case 3:
								<div class="actions2">
									<img title="Желтая карточка" src="~/images/Icons/yellowCard.png" />
								</div>
								<h2>@act.Footballer.Surname @act.Footballer.Name</h2>
								break;
							case 4:
								<div class="actions2">
									<img title="Красная карточка" src="~/images/Icons/redCard.png" />
								</div>
								<h2>@act.Footballer.Surname @act.Footballer.Name</h2>
								break;
							case 5:
								<h2>АГ</h2>
								<h2>@act.Footballer.Surname @act.Footballer.Name</h2>
								break;
						}
					}
				</div>
			</div>
		}
		<h1>2-й тайм</h1>
		@foreach (var act in Model.actionns.Where(i => i.Time > 45 && i.ActionTypeId != 6 && i.ActionTypeId != 2))
		{
			<div class="squad_line">
				<div class="one_action">
					<h2 style="margin-top:23%">@act.Time'</h2>
					@{
						switch (act.ActionTypeId)
						{
							case 1:
								<div class="actions2">
									<img title="Гол" src="~/images/Icons/goal.png" />
								</div>
								<div class="goal_assist">
									<h2>@act.Footballer.Surname @act.Footballer.Name</h2>

									@if (Model.actionns.Exists(i => i.Time == act.Time && i.ActionTypeId == 2))
									{
										<h3>
											(@Model.actionns.Where(i=>i.Time == act.Time && i.ActionTypeId == 2).First().Footballer.Surname
											@Model.actionns.Where(i=>i.Time == act.Time && i.ActionTypeId == 2).First().Footballer.Name)
										</h3>
									}
								</div>

								break;
							case 2:
								<div class="actions2">
									<img title="Голевая передача" src="~/images/Icons/assist.png" />
								</div>
								<h2>@act.Footballer.Surname @act.Footballer.Name</h2>
								break;
							case 3:
								<div class="actions2">
									<img title="Желтая карточка" src="~/images/Icons/yellowCard.png" />
								</div>
								<h2>@act.Footballer.Surname @act.Footballer.Name</h2>
								break;
							case 4:
								<div class="actions2">
									<img title="Красная карточка" src="~/images/Icons/redCard.png" />
								</div>
								<h2>@act.Footballer.Surname @act.Footballer.Name</h2>
								break;
							case 5:
								<h2>АГ</h2>
								<h2>@act.Footballer.Surname @act.Footballer.Name</h2>
								break;
						}
					}
				</div>
			</div>
		}
	</div>
</div>
		
