@page "{Id}"
@model DUSH17.Pages.PlayerPageModel
<script>

	function stat() {
		document.getElementById("stat").setAttribute("style", "display: block");
		document.getElementById("achievment").setAttribute("style", "display: none");
	}
	function achievments() {
		document.getElementById("stat").setAttribute("style", "display: none");
		document.getElementById("achievment").setAttribute("style", "display: block");
	}

	document.addEventListener('DOMContentLoaded', () => {

		const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

		const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
			v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
		)(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

		document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
			const table = th.closest('table');
			var tb = table.tBodies[0];
			Array.from(tb.querySelectorAll('tr:nth-child(n)'))
				.sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
				.forEach(tr => tb.appendChild(tr));
		})));

	});
</script>
@{

	foreach (var foot in Model.Footballers.Where(i => i.Id == Convert.ToInt32(Request.RouteValues["Id"])))
	{

		<div class="player_page">

			<div>
				<img alt="Team" src="~/images/Players/@foot.Picture.Name" />
			 </div>
			<div style="display:inline-block;">
				<h1>@foot.Surname @foot.Name @foot.Patronymic</h1>
				<hr style="margin-bottom:0;margin-top:0; color:#c5002e;height:5px;width:90%" />
				<div style="display:flex;flex-wrap: wrap">
					<div style="width:25%;margin-top:10px"><h2>Дата рождения</h2></div><div><h3 style="margin-top:10px">@foot.DateOfBirthday</h3></div>
					<div style="flex-basis:100%;height:0"></div>
					<div style="width:25%;margin-top:10px"><h2>Дата поступления</h2></div><div><h3 style="margin-top:10px">@foot.DateOfStart</h3></div>
					<div style="flex-basis:100%;height:0"></div>
					<div style ="width:25%"><h2>Амплуа</h2></div><div><h3>@foot.Position.NameOfPosition</h3></div>
					<div style="flex-basis:100%;height:0"></div>
					<div style="width:25%"><h2>Рост</h2></div><div><h3>@foot.Height см</h3></div>
					<div style="flex-basis:100%;height:0"></div>
					<div style="width:25%"><h2>Вес</h2></div><div><h3>@foot.Weight кг</h3></div>
					<div style="flex-basis:100%;height:0"></div>
					<div style="width:25%"><h2>Команда</h2></div><div><a asp-page="TeamPage" asp-route-Id="@foot.TeamId" style="text-decoration:none;color: black;"><h3>ДЮСШ-17 @foot.Team.Year года рождения</h3></a></div>
					<div style="flex-basis:100%;height:0"></div>
					<div style="width:25%"><h2>Тренер</h2></div><div><h3>@foot.Team.Coach.Surname @foot.Team.Coach.Name @foot.Team.Coach.Patronymic</h3></div>
				</div>

			</div>
			<table class="statictable" style="grid-column-start:1;grid-column-end:3">
				<thead>
					<tr> <th style="text-align: center;">Игры</th><th style="text-align: center;">Минуты</th><th style="text-align: center;">Голы</th><th style="text-align: center;">Голы/90</th><th style="text-align: center;">Голевые передачи</th><th style="text-align: center;">Пас/90</th><th style="text-align: center;">Гол+Пас</th><th style="text-align: center;">Желыте карточки</th><th style="text-align: center;">Красные карточки</th></tr>
				</thead>
				<tbody>

					<tr>
						<td style="text-align: center;border-left:none">@Model.Protocols.Where(i => i.FootballerId  == foot.Id).Count()</td>

						@{
							double totalMin = 0;
							foreach (var match in Model.Matches.Where(f => f.TeamId == foot.TeamId))
							{

								@if (match.Protocols.Where(pr => pr.FootballerId == foot.Id).Count() > 0)
								{
									if (Model.Actions.Where(a => a.ActionTypeId == 6 && a.MatchId == match.Id && a.FootballerId == foot.Id).Count() > 0)
									{
										int inMin = 0;
										int outMin = 90;
										foreach (var rep in Model.Replaces.Where(fb => fb.MatchID == match.Id && (fb.FootballerInId == foot.Id || fb.FootballerOutId == foot.Id)))
										{
											if (rep.FootballerOutId == foot.Id)
											{
												outMin = rep.Time;
											}
											if (rep.FootballerInId == foot.Id)
											{
												inMin = rep.Time;
											}
										}
										totalMin += outMin - inMin;
									}
								}


							}
							<td style="text-align: center;">@totalMin</td>
							<td style="text-align: center;">@Model.Actions.Where(g=>g.FootballerId == foot.Id && g.ActionTypeId == 1).Count()</td>
							double g90 = 0;
							if (@Model.Actions.Where(g => g.FootballerId == foot.Id && g.ActionTypeId == 6).Count() != 0)
							{
								g90 = Math.Round((Convert.ToDouble(@Model.Actions.Where(g => g.FootballerId == foot.Id && g.ActionTypeId == 1).Count()) / (totalMin / 90)), 2);

							}
						}
						<td style="text-align: center;">@g90</td>
						<td style="text-align: center;">@Model.Actions.Where(g=>g.FootballerId == foot.Id && g.ActionTypeId == 2).Count()</td>
						@{
							double gp90 = 0;
							if (@Model.Actions.Where(g => g.FootballerId == foot.Id && g.ActionTypeId == 6).Count() != 0)
							{
								gp90 = Math.Round((Convert.ToDouble(@Model.Actions.Where(g => g.FootballerId == foot.Id && g.ActionTypeId == 2).Count()) / (totalMin / 90)), 2);

							}
						}
						<td style="text-align: center;">@gp90</td>
						@{
							int gp = (@Model.Actions.Where(g => g.FootballerId == foot.Id && g.ActionTypeId == 1).Count() + @Model.Actions.Where(g => g.FootballerId == foot.Id && g.ActionTypeId == 2).Count());
						}
						<td style="text-align: center;">@gp</td>
						<td style="text-align: center;">@Model.Actions.Where(g=>g.FootballerId == foot.Id && g.ActionTypeId == 3).Count()</td>
						<td style="text-align: center;border-right:none">@Model.Actions.Where(g=>g.FootballerId == foot.Id && g.ActionTypeId == 4).Count()</td>
					</tr>

				</tbody>
			</table>
			<div class="team_menu" style="display:inline-block;margin-left:1%">
				<button class="button-80" id="squad" runat="server" onclick="achievments()" style="padding:1%">Достижения</button>

				<button class="button-80" id="achievments" runat="server" onclick="stat()" style="padding:1%">Статистика</button>
				<form method="post">
					<button class="button-80" type="submit" style="padding:1%" asp-page-handler="stat" asp-route-pId="@foot.Id" asp-route-tId="@foot.TeamId" asp-route-am="10">
						Сравнение
					</button>
				</form>
			</div>
		</div>

		<div class="team_stat" id="stat">

			<div class="head_TeamList" style="">Список матчей</div>
			<table class="" id="table1">

				<thead>

					<tr> <th style="text-align: center;">Дата</th><th style="text-align: center;">Соперник</th><th style="text-align: center;">Результат</th><th style="text-align: center;">Счет</th><th style="text-align: center;">Соревнование(уровень)</th><th style="text-align: center;">Минуты</th><th style="text-align: center;">Голы</th><th style="text-align: center;" width="3%">ГП</th><th style="text-align: center;" width="3%">ЖК</th><th style="text-align: center;" width="3%">КК</th></tr>
				</thead>
				<tbody>
					@foreach (var m in Model.Matches.Where(f=>f.TeamId == foot.TeamId).OrderByDescending(d => d.Date))
					{
						<tr>


							<td style="text-align: center;"><a asp-page="Match" asp-route-Id="@m.Id" style="text-decoration: none;color:black">@m.Date</a></td>
							<td style="text-align: left;padding-left:8%"><img src="~/images/Opponents/@m.Opponent.Picture.Name" style="width:6%" /> @m.Opponent.Name @m.Opponent.Year</td>
							@if(m.Goals > m.OpponentGoals)
							{
								<td style="text-align: center"><ps style="background-color:lawngreen;border:solid 1px black;color:black;font-weight: bold;padding-left:5px;padding-right:5px">В</ps></td>
							}
							else if (m.Goals < m.OpponentGoals)
							{
								<td style="text-align: center"><ps style="background-color:red;border:solid 1px black;color:black;font-weight: bold;padding-left:5px;padding-right:5px">П</ps></td>
							}
							else
							{
								<td style="text-align: center"><ps style="background-color:yellow;border:solid 1px black;color:black;font-weight: bold;padding-left:5px;padding-right:5px">Н</ps></td>
							}
							<td style="text-align: center;">@m.Goals : @m.OpponentGoals</td>
							<td style="text-align: center;">@m.Competition.NameOfCompetition (@m.Competition.CompetitionLevel.Level)</td>
	
								@if (m.Protocols.Where(pr => pr.FootballerId == foot.Id).Count() > 0)
								{
									int playTime = 0;
									if (Model.Actions.Where(a => a.ActionTypeId == 6 && a.MatchId == m.Id && a.FootballerId == foot.Id).Count() > 0)
									{
										int inMin = 0;
										int outMin = 90;
										foreach (var rep in Model.Replaces.Where(fb => fb.MatchID == m.Id && (fb.FootballerInId == foot.Id || fb.FootballerOutId == foot.Id)))
										{
											if (rep.FootballerOutId == foot.Id)
											{
												outMin = rep.Time;
											}
											if (rep.FootballerInId == foot.Id)
											{
												inMin = rep.Time;
											}
										}
										playTime = outMin - inMin;
										
									}
								<td style="text-align: center;">@playTime</td>
							}
								else
								{
									<td style="text-align: center;">не заявлен</td>
								}
							

							<td style="text-align: center;">@Model.Actions.Where(g => g.FootballerId == foot.Id && g.ActionTypeId == 1 && g.MatchId == m.Id).Count()</td>
							<td style="text-align: center;">@Model.Actions.Where(g => g.FootballerId == foot.Id && g.ActionTypeId == 2 && g.MatchId == m.Id).Count()</td>
							<td style="text-align: center;">@Model.Actions.Where(g => g.FootballerId == foot.Id && g.ActionTypeId == 3 && g.MatchId == m.Id).Count()</td>
							<td style="text-align: center;border-radius:0px 0px 8px 8px">@Model.Actions.Where(g => g.FootballerId == foot.Id && g.ActionTypeId == 4 && g.MatchId == m.Id).Count()</td>

						</tr>
					}

				</tbody>
			</table>
		</div>
		<div class="team_stat" id="achievment" style="display:none">
			<div class="head_TeamList" style="width:100%; text-align:center;">Список достижений</div>

				<table class="table">
					<thead>
						<tr><th>Год</th><th>Соревнование</th><th>Уровень соревнования</th><th>Место</th></tr>
					</thead>
					<tbody>
					@foreach (var a in foot.FootballerAchievements)
					{
						<tr>
							<td style="text-align:center">@a.Achievement.Competition.StartDate.Year</td>
							<td style="text-align:center">@a.Achievement.Competition.NameOfCompetition</td>
							<td style="text-align:center">@a.Achievement.Competition.CompetitionLevel.Level</td>
							<td style ="text-align:center">@a.Achievement.Place</td>
						</tr>

					}

					</tbody>
			</table>

		</div>
	}
}
