@page
@model DUSH17.Pages.TeamsModel
@{
	ViewData["Title"] = "Команды школы";
	ViewBag.Description = "На данный момент в спортивной школе №17 города Томска занимается " + Model.Teams.Count() + " групп спортсменов";
	ViewBag.Keywords = "Команды СШ-17 Томск, Команды ДЮСШ-17 Томск";
}
	
@if (User.Identity.Name != null)
{
<div class="header_for_teamspage">
	<h2>Команды</h2>
	<div class="teams_icons">

			<a asp-page="CreateCoach" style="" title="Добавить тренера" alt="Добавить тренера"><img src="~/images/Icons/Add_coach.png" /></a>

			<a asp-page="CreateTeam"  style="" title="Добавить команду" alt="Добавить команду"><img src="~/images/Icons/Add_team.png" /></a>

	</div>
</div>
}
else{
<div class="index_h">
    <h3 style="font-weight:400;margin-right:1%;">Команды школы</h3>
    <a style="font-weight:bold;text-align:end; text-decoration:none; color:black" href="#" class="bvi-open" title="Версия сайта для слабовидящих"><img /><img class="menu_imageEye" src="~/img/eye.svg" alt="Глаз" />Версия для слабовидящих</a>
</div>
}



<hr style="margin-top:0; color:black;height:1px" />

<div class=" teams_page" style="">
	@foreach (var t in Model.Teams.OrderBy(i => i.Year))
	{
		<div class="team_container" >
			<a asp-page="TeamPage" asp-route-id="@t.Id" style="text-decoration: none;">
				@if(t.Year > 1999)
				{
					<h1>@t.Year</h1>
				}
				else
				{
					<h1>ЖФК</h1>
				}
				
				<hr style="margin-bottom:0;margin-top:0; color:#c5002e;height:5px" />
				<img alt="Team" src="~/images/TeamsPhoto/@t.Picture.Name"style="padding:0" />
				<hr style="margin-bottom:0;margin-top:0; color:#c5002e;height:5px" />
			</a>

				<p style="padding-left:2%; color:dimgrey; margin-bottom:2px">Тренер-преподаватель</p>
				<h2>@t.Coach.Surname @t.Coach.Name @t.Coach.Patronymic</h2>


		</div>
	}
</div>

